{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todolist/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6b3d39f47a.js" crossorigin="anonymous"></script>
    <title>Todolist</title>
</head>
<body>
    <header>
        <nav id="nav" class="nav">
            <div style="display: flex; align-items: center; gap: 10px;">
                <h2>To Do</h2>
            </div>
            <div class="profile">
                <strong class="name">{{user.username}}</strong>
                <a href="{% url 'logout' %}" style = "margin-right: 10px;">Logout</a>
            </div>
        </nav>
    </header>
    <div class="main-wrap">
        <div class="list-container">
            <div class="list-header">
                <div class="item-header" id="tasks-link" onclick="load_tasks()">
                    <i class="fas fa-user"></i>
                    <a>My tasks</a>
                </div>
                <div class="item-header" id="teams-link" onclick="load_teams()">
                    <i class="fas fa-user-friends"></i>
                    <a>My teams</a>
                </div>
            </div>
            {% block body %}
            {% endblock %}
        </div>
    </div>
    <script src="{% static 'todolist/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
