{% extends 'todolist/layout.html'%}
{% load static %}
{% block body %}
    <div class="second-container">
        <div id="tasks-view">
            <div class = "input-container">
                <input type="text" class="task-input" placeholder="add a task..." id="task-input">
            </div>
            <hr>
            <div class="tasks-container" id="tasks-container">
                
                {% for task in tasks %}
                <div class="task" id="task{{task.id}}">
                    <div class="form-check">
                        {% if task.done %}
                        <input type="checkbox" class="form-check-input" id={{task.id}} style="margin-right: 10px;" checked onclick="check(id)">
                        {% else %}
                        <input type="checkbox" class="form-check-input" id={{task.id}} style="margin-right: 10px;" onclick="check(id)">
                        {% endif %}
                        {% if task.team %}
                        <div style="display: flex; gap: 10px; align-items: flex-start;">         
                            <span style="color: green;">{{task.team.name}}: </span>
                            <input type="text" value="{{task.body}}"  disabled class="edit-task" id = "edit-task{{task.id}}" onkeyup="edit_task(event,{{task.id}})" onfocusout="edit_task('f',{{task.id}})">                    
                        </div>
                        {%else%}
                        <input type="text" value="{{task.body}}"  class="edit-task" id = "edit-task{{task.id}}" onkeyup="edit_task(event,{{task.id}}) " onfocusout="edit_task('f',{{task.id}})">                    
                        {% endif %}
                    </div>
                    <i class="fas fa-trash-alt text-danger" style="cursor: pointer;" onclick="delete_task({{task.id}})" id = "trash{{task.id}}"></i>
                    <div class="spinner-grow text-danger spinner-grow-sm" role="status" id = "trash-spinner{{task.id}}" style="display: none;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                {%endfor %}
            </div>
        </div>
        <div id="teams-view">
                        <!-- Button trigger modal -->
            <div class="teams-container" id="teams-container">
                
            </div>            
            <div class="buttons">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTeamModal">
                    Create Team
                </button>
                <button type="button" class="btn btn-dark"  data-toggle="modal" data-target="#joinTeamModal">
                    Join a team
                </button>
            </div>            
            
            <!-- Create Team Modal -->
            <div class="modal fade" id="createTeamModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create Team</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" placeholder="Team name..." id = "team-input">
                        <textarea id="team-description" cols="30" rows="5" style="margin-top: 10px;" placeholder="Team description..." class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <div id = "create-buttons">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" onclick="create_team()">Create</button>
                        </div>
                        <div class="spinner-border text-primary spin" role="status" id="create-spinner" style = "display: none;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <!-- Join Team Modal -->
            <div class="modal fade" id="joinTeamModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Join Team</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div id = "join-errors">

                        </div>
                        <input type="text" class="form-control" placeholder="type team code..." id = "code-input">
                    </div>
                    <div class="modal-footer">
                    <div id="join-buttons">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="join_team()">Join</button>
                    </div>
                    <div class="spinner-border text-primary spin" role="status" id="join-spinner" style = "display: none;">
                        <span class="sr-only">Loading...</span>
                    </div>
                    </div>

                </div>
                </div>
            </div>
            <!-- Add task Team Modal -->
            <div class="modal fade" id="taskTeamModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Team Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" placeholder="add task..." id = "task-team-input">
                    </div>
                    <div class="modal-footer">
                        <div id="add-buttons">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" onclick="add_taskTeam()">Add</button>
                        </div>
                        <div class="spinner-border text-primary spin" role="status" id="add-spinner" style = "display: none;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}